@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #472B76;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.formato {
    width: 250px;
    height: 540px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.534);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section.imagem {
    width: 100%;
    height: 40%;
    background-color: #472B76;
    background-image: url(../imagens/predio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    
}

section.login {
    width: 100%;
    height: 60%;
    padding: 10px;
}

section.login > h1 {
    text-align: center;
    font-size: 1.6em;
    padding: 5px; 
}

section.login > p {
    font-weight: 600;
    font-size: 0.8em;
}

div.card-login {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

form {
    width: 100%;
}

div.base-inputs {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #AE8033;
    margin: 5px 0px;
    border-radius: 8px;
    border: 2px solid #AE8033;
    overflow: hidden;
}

div.base-inputs > span {
    width: 30px;
    color: #472B76;
    font-size: 2em;
    padding: 0px 5px;
}


div.base-inputs > input {
    width: calc(100% - 45px);
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 0px;
    transform: translate(6%, -30%);
    background-color: #D1A55A;
}

div.base-inputs > input::placeholder {
    color: white;
}

div.base-inputs > input:focus-within {
    background-color: white;
}

div.base-inputs > label {
    display: none;
}

input#submit {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    background-color: #895E14;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

a.botao-esqueci {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #895E14;
    border-radius: 8px;
    margin: 5px 0;
    color: #895E14;
    font-size: 1em;
    padding: 10px;
}

a.botao-esqueci:hover {
    background-color: #D1A55A;
}

a.botao-esqueci > span {
    font-size: 0.8em;
}